.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.container {
  margin-top: 20px;
}

.box {
  width: 150px;
  height: 150px;
  background-color: #61dafb;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}


/* Main layout */
.main-content {
  display: flex;
  flex-direction: row;
}

/* Adjust Sidebar for desktop */
.sidebar {
  flex: 0 0 250px; /* Fixed width for sidebar */
  background-color: #333;
  padding-top: 20px;
  height: 100vh;
  position: relative;
}

/* Sidebar links */
.sidebar-links {
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
  width: 100%;
}

.sidebar-links li {
  padding: 1rem;
}

.sidebar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
}

.sidebar-links a:hover {
  color: #61dafb;
}

/* Header or main content styling */
.header {
  flex-grow: 1; /* Main content takes the remaining space */
  padding: 2rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    left: 0;
    top: 60px; /* Below the navbar */
    height: calc(100vh - 60px); /* Adjust height minus navbar */
    width: 250px;
    transform: translateX(-250px);
    transition: transform 0.3s ease-in-out;
  }

  .sidebar.open {
    transform: translateX(0); /* Slide in on small screens */
  }

  .main-content {
    flex-direction: column;
  }

  .header {
    padding: 1rem;
  }
}

@media (min-width: 769px) {
  .main-content {
    display: flex;
    flex-direction: row;
  }

  .sidebar {
    position: static;
    transform: none;
  }
}


